# Exclude git and metadata
.git
.gitignore

# Python caches and bytecode
__pycache__/
*.py[cod]
*$py.class
.pytest_cache
*/__pycache__
*.pyo
*.pyd

# Virtual environment directories
.venv/
Backend/venv/
venv/
eval_env
env/
ENV/
.env
*/venv/
*/env/
*/.env
*.zip
# Distribution/build directories
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Editor and IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Environment / secrets
.env
Backend/*.json
*.json

# ================================
# 🚫 DATASETS / RAW DATA
# ================================
Backend/data/
data/
Backend/ml/evaluation/
Backend/secrets/*.json
# Misc
*.log
Backend/requirements.train.txt
Backend/requirements.prod.txt